<div class="d-flex justify-content-center align-items-center" style="margin-top: 110px">
  <div class="card4 text-center">
    <div class="card-header" style="background-color: #2F1E4A; color: white; border-radius: 5px">
      Dashboard casos
    </div>
    <div class="card-body">
      <h4 class="card-title">Se han gestionado los siguientes casos:</h4>
      <h4 class="card-text">25</h4>
      <input type="file" id="fileInput" accept=".xlsx" style="display: none;" onchange="handleFileUpload(this)">
      <div id="uploadStatus" class="mt-3"></div>
      <div id="fileName" class="mt-3"></div>
    </div>
    <div class="card-footer text-muted" id="updateTimeFooter" style="background-color: #2F1E4A; color: white; border-radius: 5px">
      Última actualización: <span id="lastUpdateTime"></span>
    </div>
  </div>
</div>


<head>

    <title>Admin. Estado Casos</title>

</head>

<div class="content content-page">
    <div class="container-fluid">
        {{!-- Titulo pagina --}}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Admin. Estado Casos</h4>
                </div>
            </div>
        </div>
        {{!-- Fin Titulo pagina --}}

        {{!-- Formulario --}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{> message }}
                        <h4 class="header-title">Registrar Casos TT</h4>
                        {{!-- Tabla Listar Usuarios --}}
                        <div class="table-responsive">
                            <table id="Reporte_Admin_Cursos" class="table table-striped dt-responsive nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <center>CASO TT</center>
                                        </th>
                                        <th>
                                            <center>FECHA ESCALAMIENTO</center>
                                        </th>
                                        <th>
                                            <center>CASUAL DE ESCALAMIENTO</center>
                                        </th>
                                        <th>
                                            <center>SEGMENTO</center>
                                        </th>
                                        <th>
                                            <center>NOMBRE CREADOR</center>
                                        </th>
                                        <th>
                                            <center>ESTADO</center>
                                        </th>
                                        <th>
                                            <center>ÚLTIMA ACTUALIZACIÓN</center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each users}}
                                    <tr>
                                        <td>{{PKCUR_NCODIGO}}</td>
                                        <td>{{CUR_CNOMBRE_CURSO}}</td>
                                        <td>{{CUR_CESTADO}}</td>
                                        <td>{{CUR_CCARGO}}</td>
                                        <td>{{CUR_CRESPONSABLE_GESTION}}</td>
                                        <td>{{CUR_CFECHA_REGISTRO}}</td>
                                        <td>{{CUR_CFECHA_MODIFICACION}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{!-- Fin Tabla Listar Usuarios --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/reporting/datatable_cursos.js"></script>
<script src="js/reporting/gestores_disponibles.js"></script>