<head>

    <title>Admin. Casos TT</title>

</head>

<div class="content content-page">
    <div class="container-fluid">
        {{!-- Titulo pagina --}}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Administración de Casos TT</h4>
                </div>
            </div>
        </div>
        {{!-- Fin Titulo pagina --}}

        {{!-- Formulario --}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{> message }}

                        {{!-- Tabla Listar Estudiantes --}}
                        <div class="table-responsive">
                            <table id="Reporte_Admin_Casos" class="table table-striped dt-responsive nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <center>CASO TT</center>
                                        </th>
                                        <th>
                                            <center>FECHA ESCALAMIENTO</center>
                                        </th>
                                        <th>
                                            <center>CASUAL DE ESCALAMIENTO</center>
                                        </th>
                                        <th>
                                            <center>SEGMENTO</center>
                                        </th>
                                        <th>
                                            <center>REGIONAL</center>
                                        </th>
                                        <th>
                                            <center>TIPO DE TRANSACCIÓN</center>
                                        </th>
                                        <th>
                                            <center>TRANSACCIÓN</center>
                                        </th>
                                        <th>
                                            <center>CÓDIGO CREADOR</center>
                                        </th>
                                        <th>
                                            <center>NOMBRE CREADOR</center>
                                        </th>
                                        <th>
                                            <center>CANAL DE VENTA CREADOR</center>
                                        </th>
                                        <th>
                                            <center>TELÉFONO CREADOR</center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each casos}}
                                    <tr>
                                        <td>{{FOR_CCASO_TT}}</td>
                                        <td>{{FOR_CFECHA_REGISTRO}}</td>
                                        <td>{{FOR_CCASUAL_ESCALAMIENTO}}</td>
                                        <td>{{FOR_CSEGMENTO}}</td>
                                        <td>{{FOR_CREGIONAL}}</td>
                                        <td>{{FOR_CTIPO_TRANSACCION}}</td>
                                        <td>{{FOR_CTRANSACCION}}</td>
                                        <td>{{FOR_CCODIGO_CREADOR}}</td>
                                        <td>{{FOR_CNOMBRE_CREADOR}}</td>
                                        <td>{{FOR_CCANAL_VENTAS_CREADOR}}</td>
                                        <td>{{FOR_CNUMERO_CREADOR}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{!-- Fin Tabla Listar Estudiantes --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/reporting/datatable_casos.js"></script>
<script src="js/reporting/gestores_disponibles.js"></script>