<head>

    <title>Admin. Estado Casos</title>

</head>

<div class="content content-page">
    <div class="container-fluid">
        {{!-- Titulo pagina --}}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Admin. Estado Casos</h4>
                </div>
            </div>
        </div>
        {{!-- Fin Titulo pagina --}}

        {{!-- Formulario --}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{> message }}
                        <h4 class="header-title">Registrar Casos TT</h4>
                        {{!-- Tabla Listar Usuarios --}}
                        <div class="table-responsive">
                            <table id="Reporte_Admin_Cursos" class="table table-striped dt-responsive nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <center>CASO TT</center>
                                        </th>
                                        <th>
                                            <center>FECHA ESCALAMIENTO</center>
                                        </th>
                                        <th>
                                            <center>CASUAL DE ESCALAMIENTO</center>
                                        </th>
                                        <th>
                                            <center>SEGMENTO</center>
                                        </th>
                                        <th>
                                            <center>NOMBRE CREADOR</center>
                                        </th>
                                        <th>
                                            <center>ESTADO</center>
                                        </th>
                                        <th>
                                            <center>ÚLTIMA ACTUALIZACIÓN</center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each users}}
                                    <tr>
                                        <td>{{PKCUR_NCODIGO}}</td>
                                        <td>{{CUR_CNOMBRE_CURSO}}</td>
                                        <td>{{CUR_CESTADO}}</td>
                                        <td>{{CUR_CCARGO}}</td>
                                        <td>{{CUR_CRESPONSABLE_GESTION}}</td>
                                        <td>{{CUR_CFECHA_REGISTRO}}</td>
                                        <td>{{CUR_CFECHA_MODIFICACION}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{!-- Fin Tabla Listar Usuarios --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/reporting/datatable_cursos.js"></script>
<script src="js/reporting/gestores_disponibles.js"></script>